* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.header {
  background: #fff;
  padding: 15px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}
.logo {
  height: 40px;
  width: 100px;
}
.logo img {
  width: 100%;
  height: 100%;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav ul li {
  list-style: none;
  display: inline-block;
  gap: 10px;
}
nav ul li a {
  text-decoration: none;
  padding: 8px;
  margin-left: 20px;
  color: black;
  font-weight: 600;
}

nav ul li a.active,
nav ul li a:hover {
  color: #f32804;
}
.video_wrapper {
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ham {
  height: 40px;
  width: 45px;
  position: relative;
  display: none;
  overflow: hidden;
  transition: 0.4s ease-in-out;
}
.ham span {
  position: absolute;
  top: 20px;
  left: 5px;
  height: 2px;
  width: 30px;
  background: #000000;
  z-index: 99;
  border-radius: 2px;
  transition: 0.4s ease-in-out;
}
.ham span:nth-child(1) {
  transform: translateY(8px);
}
.ham span:nth-child(2) {
  width: 20px;
}
.ham span:nth-child(3) {
  transform: translateY(-8px);
}

.video_wrapper .vide {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.text {
  max-width: 1000px;
  width: 100%;
}
.text h1 {
  color: #faf9f9ce;
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
}
.text h4 {
  color: #faf9f9ce;
}
.aibrain {
  height: 80px;
  width: 80px;
  border: 2px solid rgb(207, 201, 201);
  border-radius: 50%;
  overflow: hidden;
}

.aibrain img {
  width: 100%;
  height: 100%;
}
.ai_bg {
  background: #ebf5ec;
}
.card_wrapper {
  background: #ebf5ec;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.183);
  transition: 0.4s ease-in-out;
  z-index: 1;
}
.card_wrapper:hover {
  transform: translateY(-10px);
}
.card_text ul li {
  font-size: 13px;
}
.image {
  height: 450px;
  max-width: 500px;
  width: 100%;
}
.image img {
  width: 100%;
  height: 100%;
}
footer {
  background: #000000;
  color: #fff;
}
.footer_logo {
  height: 90px;
  max-width: 350px;
  width: 100%;
}
.footer_logo img {
  width: 100%;
  height: 100%;
}
.email,
.footer_ul ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer_ul h6 {
  font-size: 20px;
}
.email,
.footer_ul li a {
  text-decoration: none;
  font-size: 17px;
  color: #fff;
  margin-top: 6px;
  display: block;
}
.footer_ul ul li a .fa-solid {
  font-size: 12px;
  margin-right: 6px;
}
.social .fa-brands {
  height: 35px;
  width: 35px;
  border: 1px solid #fff;
  line-height: 35px;
  text-align: center;
  margin-right: 5px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.social .fa-brands:hover {
  color: #f32804;
}
.Technology_image {
  height: 280px;
  max-width: 380px;
  width: 100%;
  position: relative;
  z-index: 1;
}
.Technology_image::after {
  position: absolute;
  content: "";
  right: -40px;
  bottom: -40px;
  height: 100%;
  width: 100%;
  border: 3px solid rgb(188, 177, 177);
  z-index: -1;
}
.Technology_image img {
  width: 100%;
  height: 100%;
}
.Technology_wrapper {
  position: relative;
}

.secont_image {
  height: 200px;
  width: 250px;
  position: absolute;
  right: 6%;
  bottom: -34%;
  z-index: 1;
}
.secont_image img {
  width: 100%;
  height: 100%;
}
.circle {
  height: 120px;
  width: 120px;
  padding: 5px;
  border-radius: 50%;
  background: #f32804;
  position: absolute;
  top: 40%;
  left: 40%;
  transform: translate(-40%, 40%);
  z-index: 2;
  transform-origin: 0%, 0%;
  animation: rotate 7s infinite linear;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.circle img {
  width: 100%;
  height: 100%;
}
.icon {
  max-height: 75px;
  max-width: 75px;
  width: 100%;
  background: #f32804;
  border-radius: 50%;
  padding: 14px;
}
.icon img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
h6 {
  font-weight: 700;
}
.btn_style {
  padding: 13px 10px;
  position: relative;
  z-index: 1;
  max-width: 180px;
  width: 100%;
  background: #7c7d7c;
  border: none;
  color: #fff;
  transition: 0.4s ease-in-out;
}
.btn_style::before {
  position: absolute;
  content: "";
  height: 50%;
  width: 0%;
  background: #000000;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.4s ease-in-out;
}
.btn_style::after {
  position: absolute;
  content: "";
  height: 50%;
  width: 0%;
  background: #000000;
  right: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.4s ease-in-out;
}
.btn_style:hover::after,
.btn_style:hover::before {
  width: 100%;
}
.cursor{
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #0b0448b0;
  z-index: 9999;
  pointer-events: none;
  transition: 0.2s ease;
  transform: translate(-50%,-50%);
  /* mix-blend-mode: difference; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.dot{
  height: 6px;
  width: 6px;
  background: #fff;
  border-radius: 50%;
  transition: 0.2s ease;
}

@media only screen and (max-width: 787px) {
  nav {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 70%;
    background: #ebf5ec;
    padding: 30px 5px;
    transition: 0.4s ease-in-out;
  }
  .show_menu {
    left: 0 !important;
  }
  nav ul li {
    display: block;
    margin-top: 15px;
  }
  .ham {
    display: block;
    overflow: hidden;
  }
  .transform span:nth-child(2) {
    transform: translateX(40px);
  }
  .transform span:nth-child(1) {
    transform: rotate(45deg);
  }
  .transform span:nth-child(3) {
    transform: rotate(315deg);
  }
  .text h1 {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 471px) {
  .text h1 {
    font-size: 2.5rem;
  }
  .text h4 {
    font-size: 15px;
  }
  .Technology_image::after {
    display: none;
  }
}
